{{ internal_dns_domain }}:53 {
    # Serve only specific private hosts authoritatively using template
    # This allows www.exnada.com and other external subdomains to be forwarded upstream
{% for host in internal_dns_private_hosts %}
    template IN A {{ host }}.{{ internal_dns_domain }} {
        answer "{{ host }}.{{ internal_dns_domain }} 3600 IN A {{ tailscale_ip }}"
    }
{% endfor %}
    # Forward all other queries (including www.exnada.com) upstream
    forward . {{ internal_dns_upstream_servers | join(' ') }}
    log
    errors
}

.:53 {
    forward . {{ internal_dns_upstream_servers | join(' ') }}
    log
    errors
}
