version: '3.8'

services:
  traefik:
    image: traefik:v3.0
    container_name: {{ edge_ingress_container_name }}
    network_mode: host
    volumes:
      - {{ edge_ingress_data_dir }}/traefik.yml:/traefik.yml:ro
      - {{ edge_ingress_data_dir }}/dynamic.yml:/dynamic.yml:ro
      - {{ edge_ingress_data_dir }}/acme.json:{{ edge_ingress_data_dir }}/acme.json:rw
    command:
      - "--api.insecure=false"
      - "--providers.file.filename=/traefik.yml"
      - "--providers.file.watch=true"
      - "--providers.docker=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    environment:
      - GODADDY_API_KEY={{ godaddy_api_key }}
      - GODADDY_API_SECRET={{ godaddy_api_secret }}
    restart: unless-stopped
    cap_add:
      - NET_BIND_SERVICE
