api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
{% if not (edge_ingress_disable_tls | default(false)) %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
{% endif %}

  websecure:
    address: ":443"

tls:
  certificates:
    - certFile: /certs/{{ edge_ingress_domain }}.crt
      keyFile: /certs/{{ edge_ingress_domain }}.key

providers:
  file:
    filename: /dynamic.yml
    watch: true
