---
- name: Vega (RPi5 workstation: hardened + desktop)
  hosts: vega
  become: true
  roles:
    - common
    - ssh_hardening
    - firewall_nftables
    - fail2ban
    - updates
    - tailscale
    - docker_host
    - desktop
