---
- name: Vega (RPi5 workstation: hardened + desktop)
  hosts: vega
  become: true
  vars_files:
    - "../inventories/prod/group_vars/all_secrets.yml"
  roles:
    - common
    - ssh_hardening
    - firewall_nftables
    - fail2ban
    - updates
    - tailscale
    - docker_host
    - desktop
