---
- name: Install unattended-upgrades
  apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present
    update_cache: true
  when: enable_unattended_upgrades | default(true)

- name: Enable periodic updates
  copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: "0644"
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
  when: enable_unattended_upgrades | default(true)
